<h1><b>ユーザー 一覧</b></h1>
<% @users.each do |user| %>
  <p>
    <%= user.name %>
    <%= user.age %>
    <%= link_to '詳細', user_path(user.id), method: :get%>
    <%= link_to '削除', user_path(user.id), method: :delete, data: {confirm: "削除しますか?"}%>
  </p>
<% end %>